/* Global Elements */

body {
  display: block;
}

div {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

.nav_bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


.nav_bar img {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-right: 10px;
  opacity: .8;
}

.facebook img {
  width: 30px;
  height: 30px;
  padding-top: 15px;
  padding-right: 30px;
  opacity: .8;
}

header {
  width: 100%;
  height: 500px;
  background-image: url(../images/background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.initials img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.initials {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.name_box {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-top: 20px;
  font-family: 'Ek Mukta', sans-serif;
}

.name {
  color: white;
  opacity: .9;
  font-size: 40px;
  font-weight: bold;
  padding: 7px 13px;
}

.title {
  color: white;
  font-family: 'Amiko', sans-serif;
  opacity: .9;
  font-size: 13px;
  font-weight: 100;
  padding-top: 20px;
}

/* Photo */

.pic {
  display: flex;
  justify-content: center;
}

.pic img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 80px;
  border: 5px solid white;
}

/* Content */

.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_me span {
  color: #4f555e;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.main_body {
  margin-top: 200px;
}

.grey_line {
  margin-top: 15px;
  border: 2px solid #4f555e;
  width: 30px;
}

/* About Me */

.content_body {
  display: flex;
  justify-content: space-around;
  width: 900px;
}

.about_me_body {
  justify-content: center;
  align-content: center;
  width: 900px;
  padding: 20px 100px;
  font-family: 'Amiko', sans-serif;
  color: #969491;
  font-size: 15px;
  line-height: 150%;
}

.first_paragraph {
  padding-bottom: 25px;
  color: #4f555e;
}

/* Info Section */

.info_section {
  font-family: 'Amiko', sans-serif;
  color: #b3b5b7;
  font-size: 15px;
  padding-top: 20px;
}

.resume {
  display: inline-flex;
  align-items: center;
  background-color: rgba(40, 201, 145, .9);
  color: white;
  margin: 30px 0px;
  padding: 5px;
  height: 20px;
  width: 160px;
  border-radius: 5px;
}

.resume span {
  font-size: 13px;
  padding-left: 7px;
}

.resume img {
  padding-left: 7px;
  height: 90%;
  width: 10%;
}

.contact {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.contact .contact_info {
  padding-left: 20px;
  font-size: 12px;
}

.contact ul {
  color: #4f555e;
}

.contact li {
  padding: 5px 0px;
}

.contact_info li {
  color: #969491;
}

.contact span {
  font-size: 11px;
  padding: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 700px;
  padding: 0px 10px 0px 40px;
}

.gallery img {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  padding: 0px 20px;
}

.gallery .comp {
  opacity: 0.6;
}

/* Timeline */

.resume_body {
  width: 100%;
  height: 1000px;
  background-color: #f2f1ef;
  margin-top: 100px;
}

#resume_title span {
  padding-top: 100px;
}

.experience_title {
  margin-top: 20px;
  color: #4f555e;
  background-color: #d0d4d8;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
}

.timeline_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline_container span { /* Changes shape of box */
  color: white;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.date_left { /* Date */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 35px;
}

.date {
  color: white;
  background-color: #d0d4d8;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  width: 50px;
}

.date_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 35px;
}

.timeline_left { /* Timeline Container */
  border-right: solid #d0d4d8;
  width: 400px;
  height: 700px;
}

.timeline_right {
  border-left: solid #d0d4d8;
  width: 400px;
  height: 700px;
}

.job_experience_left { /* Moves Experience box in container */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 35px;
}

.job_experience_left span {
  background-color: #0e2242;
}

.job_experience_right span {
  background-color: #0e2242;
}

.job_experience_right { /* Moves Experience box up or down */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 55px;
}

.timeline_mark {
  border: solid #d0d4d8;

}

.job_experience_right p {
  padding-left: 10px;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 12px;
  color: #4b4c4f;
}

.job_experience_left p {
  padding-right: 10px;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 12px;
  color: #4b4c4f;
}
